/* General styles */

:root {
    --cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


    $main-color: #212121;
    $main-background-color: #ffffff;
    $background-second-color: #2f303a;
    $background-third-color: #f5f4fa;
    $background-hero-color: #C4C4C4;
    $link-hover-color: #2196f3;
    $button-hover-background: #188CE8;
    $text-grey-color: #757575;
    $box-border-color: #eeeeee;
    $icon-grey-color: #AFB1B8;
    $cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
