/* Footer */

.footer {
    background-color: $background-second-color;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo--footer,
.footer-contacts__list a {
    display: inline-block;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

address {
    margin-top: 20px;
}

.footer-contacts__item {
    margin-top: 9px;

        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;

        & a {
            color: rgba(255, 255, 255, 0.6);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
}

.footer-contacts__address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    & a:visited,
    & a:link,
    & a:active {
        color: floralwhite;
     }
    
     & a:hover,
     & a:focus {
         color: $link-hover-color;
     }
}


/* Footer social icons */

.footer__blocks {
    display: flex;
    align-items: baseline;
}

.footer__soclinks {
    margin-left: 70px;

    & .social-icons {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

.footer .social-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.footer__social-icons {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    & li {
        box-shadow: none;
    }
}

.footer__soc-icon {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}

.social-icons li {
    box-shadow: none;
}

.footer .social-item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    border-radius: 50%;
}

.footer .social-icon {
    fill: $main-background-color;
}

.footer .social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $link-hover-color;
    }
}

.footer-blocks__item p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-background-color;
}

/* Footer subscription block */

.footer__subsctiption {
    margin-left: auto;
}

.subscription-line {
    display: flex;

    & .form-field {
        margin-right: 12px;
    }

    & label {
        margin: 0;
    }

    & input {
        width: 358px;
        height: 50px;
        padding: 15px;
        margin-right: 12px;

        font-weight: 400;
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);

        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        background-color: $background-second-color;
    }

    & input::placeholder {
        display: flex;
        align-items: center;

        font-weight: 400;
        font-size: 16px;
        line-height: calc(20 / 16);
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }
}


.btn--subscription {
    display: flex;
    align-items: center;
    height: 50px;

    padding: 10px 28px;
    border-radius: 4px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: $main-background-color;

    background-color: $link-hover-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $button-hover-background;
    }
}

.icon--subscription {
    margin-left: 10px;
    background-size: contain;
    fill: $main-background-color;
}


