/* Header */

.navigation__box {
    display: flex;
}

.header {
    border-bottom: 1px solid #ECECEC;
}

.navigation {
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 12);
    letter-spacing: 0.02em;
}

.navigation,
.navigation__items,
.contacts--header {
    display: flex;
    align-items: center;
}


/* Logo styles */

.logo {
    display: flex;        
    margin-right: 93px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo__web {
    color: $link-hover-color;
}

.logo__studio--header {
    color: $main-color;
}

.logo__studio--footer {
    color: $main-background-color;
}


/* Nav styles, Contacts */

.contacts--header {
    margin-left: auto;
}

.navigation__items a {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts--header .navigation__item+.navigation__item {
    margin-left: 50px;
}

.navigation__items .navigation__item:not(:last-child) {
    margin-right: 50px;
}


a.navigation__item--current {
    color: $link-hover-color;
}

.navigation__item {
    position: relative;
}

.navigation__item--current::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color: $link-hover-color;
    border-radius: 4px;
}

.link--active:hover,
.link--active:focus {
    color: $link-hover-color;
}

.contacts--header .navigation__link {
    display: flex;
    align-items: center;
}

.contacts--header a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $text-grey-color;
    display: flex;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-link {
    margin-left: 10px;
}

.contacts__icon {
    margin-right: 10px;
    fill: $text-grey-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover .contacts__icon,
.contacts__link:focus .contacts__icon {
    fill: $link-hover-color;
}